<% if flash[:notice] %>
	<div id="flash-notice" class="inline-flex items-center gap-2 font-semibold my-4">
		<div class="inline-grid *:[grid-area:1/1]">
			<div class="status status-info animate-ping"></div>
			<div class="status status-info"></div>
		</div>
		<%= flash[:notice] %>
	</div>
<% end %>
<% if flash[:alert] %>
	<div id="flash-alert" class="inline-flex items-center gap-2 font-semibold my-4">
		<div class="inline-grid *:[grid-area:1/1]">
			<div class="status status-error animate-ping"></div>
			<div class="status status-error"></div>
		</div>
		<%= flash[:alert] %>
	</div>
<% end %>