<turbo-frame id="gmail_watch_status" class="inline-flex gap-2 items-center">
	<div class="status <%= watcher == "enabled" ? 'status-info animate-bounce' : 'status-error animate-bounce' %>"></div>
	<p class="text-lg">Pubsub watcher is <%= watcher %></p>
</turbo-frame>